<% layout('layouts/layout') %>

<% if(gallery && gallery.length!=0) {%>
<div class="row">
    <div class="column">
      <img style="height: 50%; object-fit: cover;" class="pb-7" src="/stud/gymkhana/sports/<%= gallery[0 % gallery.length] %>">
      <img style="height: 50%; object-fit: cover;" src="/stud/gymkhana/sports/<%= gallery[1 % gallery.length] %>">
    </div>
    <div class="column">
      <img style="height: 25%; object-fit: cover;" class="pb-7" src="/stud/gymkhana/sports/<%= gallery[2 % gallery.length] %>">
      <img style="height: 50%; object-fit: cover;" class="pb-7" src="/stud/gymkhana/sports/<%= gallery[3 % gallery.length] %>">
      <img style="height: 25%; object-fit: cover;" src="/stud/gymkhana/sports/<%= gallery[4 % gallery.length] %>">
    </div>
    <div class="column">
      <img  style="height: 60%; object-fit: cover;" class="pb-7" src="/stud/gymkhana/sports/<%= gallery[5 % gallery.length] %>">
      <img  style="height: 40%; object-fit: cover;" src="/stud/gymkhana/sports/<%= gallery[6 % gallery.length] %>">
    </div>
    <div class="column last">
      <img style="height: 75%; object-fit: cover;" class="pb-7" src="/stud/gymkhana/sports/<%= gallery[7 % gallery.length] %>">
      <img style="height: 25%; object-fit: cover;" src="/stud/gymkhana/sports/<%= gallery[8 % gallery.length] %>">
    </div>
  </div>
<% } %>