<div class="bg-white">
    <nav class="bg-white">
        <div class="pl-20 mb-4 mt-1">
          <div class="flex justify-between">

            <div class="flex space-x-4">
              <!-- primary nav -->
              <div class="hidden md:flex items-center space-x-1">
                <a id = "home" href="<%= process.env.BaseUrl %>/" class="block pt-4 pb-3 px-6 text-sm border-b-2 text-yellow-500 border-yellow-500 hover:text-yellow-500">Home</a>
                <a id = "clubs" href="<%= process.env.BaseUrl %>/clubs" class="block pt-4 pb-3 px-6 text-sm border-b-2 border-white hover:text-yellow-500">Clubs</a>
                <a id = "teams" href="<%= process.env.BaseUrl %>/teams"  class="block pt-4 pb-3 px-6 text-sm border-b-2 border-white hover:text-yellow-500">Team</a>
                <a id = "facilities" href="<%= process.env.BaseUrl %>/facilities" class="block pt-4 pb-3 px-6 text-sm border-b-2 border-white hover:text-yellow-500">Facilities</a>
                <a id = "spardha" href="<%= process.env.BaseUrl %>/spardha" class="block pt-4 pb-3 px-6 text-sm border-b-2 border-white hover:text-yellow-500">Spardha</a>
                <a id = "alumni" href="<%= process.env.BaseUrl %>/alumni"  class="block pt-4 pb-3 px-6 text-sm border-b-2 border-white hover:text-yellow-500">Alumni</a>
              </div>
            </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
              <button class="mobile-menu-button">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>

          </div>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden mb-4 ml-1">
          <a id="m-home" href="<%= process.env.BaseUrl %>/" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Home</a>
          <a id="m-clubs" href="<%= process.env.BaseUrl %>/clubs" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Clubs</a>
          <a id="m-teams" href="<%= process.env.BaseUrl %>/teams" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Team</a>
          <a id="m-facilities" href="<%= process.env.BaseUrl %>/facilities" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Facilities</a>
          <a id="m-spardha" href="<%= process.env.BaseUrl %>/spardha" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Spardha</a>
          <a id="m-alumni" href="<%= process.env.BaseUrl %>/alumni" class="block py-2 px-4 text-sm hover:text-yellow-500 border-b-2 border-white hover:border-yellow-500" style="width: 15%;">Alumini</a>
        </div>
      </nav>
  </div>
