<% layout('layouts/layout') %>
<%- include('../partials/gallery')  %>
<%- include('../partials/navbar') %>


<div  class="mt-4 bg-bottom bg-left bg-no-repeat bg-cover bgimage h-96 " style=" background-image: url('/stud/gymkhana/sports/public/images/background-img.png');">

<div class="club-header ">Team Structure</div>
<!-- <div class=" team-buttons sm:justify-center sm:ml-2 sm:pl-12 sm:m-2 sm:gap-4 lg:flex lg:justify-start  lg:pl-12 lg:gap-2">
      <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Chairman</<button >
        <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2  px-2 rounded-md" >Gymkhana Office</<button >
          <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Councelling Cell</<button >
            <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >Visiting Artists-in-residence</<button >
              <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md" >New Sac Building</button >
                <button class="bg-white mt-2 mr-2 hover:bg-blue-900 hover:text-white py-2 px-2 rounded-md">Hostels</<button >
</div> -->

<div class="mt-20 sm:mx-10 md:mx-20 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 ">
  
<% for(let member of teams) { %>
  <div style=" height: 450px; background-color: #F97F51;" class=" md:block overflow-hidden rounded-md mb-24 mx-4 cursor-pointer">
        <div class="bg-gray-200 rounded-md ">
          <img
            style="height: 300px;"
            src=/<%= member.image %>
            alt="ProfilePic"
            class="w-full object-contain "
          />
        </div>
        <div class="ml-3.5 text-2xl text-white font-semibold mt-4">
          <%= member.name %>
        </div>
        <div class="ml-3.5 text-lg text-white mt-2 mb-2"><%= member.position %></div>
        <svg
          class="w-full"
          width="200"
          height="1"
          viewBox="0 0 420 1"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="0.5"
            y1="0.5"
            x2="419.5"
            y2="0.500031"
            stroke="white"
            stroke-linecap="round"
          />
        </svg>
        <div class="flex justify-between mx-3.5 my-2">
          <div class="text-sm text-white"><%= member.email %></div>
          <div class="text-sm text-white"><%= member.contact1 %></div>
        </div>
      </div>
<% } %>
    </div>
</div>

