
<%- include('./partials/gallery')  %>
<%- include('./partials/navbar') %>




<div class="flex flex-wrap about-container" id="about">

  <div class="content flex flex-col hidden lg:block">
    <div>CONTENTS</div>
    <div><a href="#about">About us</a></div>
    <div><a href="#events">Events</a></div>

  </div>

  <div class="about">
    <div class="about-header">
      <h1>About Us</h1>
    </div>
    <p>You are here for an overall development of your personality, so to keep you healthy and fit, we have all the facilities for sports, both indoor and outdoor.
      <br>
      <br>
      All outdoor sports like athletics, swimming, cricket, football, hockey, basketball, volleyball, etc. and indoor sports like table tennis, weight lifting, chess, carrom, squash, etc. are actively played by all throughout the year.
      <br>
      <br>
      We organize and promote all extra-curricular activities in the field of sports. It has currently twelve clubs: Athletics and Gymnastics Club, aquatics Club, Badminton Club, Basketball Club, Cricket Club, Football Club, Hockey Club, Lawn Tennis
      Club, Table Tennis Club, Squash Club, Volleyball Club and Weightlifting Club. The three main events conducted every year are Inter IIT Sports Meet, Spardha and Spirit.
    </p>
  </div>

  

</div>

<div class="event-box" id="events">
  <div style = "height: 23.28%;" class="flex flex-wrap">

    <div class="event-header">
      <div class="header">
        <h1>Events at IIT Guwahati</h1>
      </div>
    </div>

  </div>



  <div class="swiper mySwiper" style="width: 100%; height: 65%;">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        <% for(var i = 0; i<events.length; i++) { %>
          <div class="swiper-slide flex flex-wrap pr-4">
            <div class="shadow-md rounded-md overflow-hidden" alt="event-img">
              <img class="event-image" src= /<%=events[i].image %> style="aspect-ratio: 2/1; ">
              <div class="event-text p-4  grid grid-cols-5">
                <div class="col-span-4">
                  <div class="event-dates"> <%=events[i].start%> - <%=events[i].end%></div>
                  <div class="sub-event-header"> <%=events[i].desc%></div>
                </div>

                <% if(events[i].score.length != 0) { %>
                  <div>
                    <div class="event-arrow">
                      <a href=pdf/<%=events[i].score%>> <i class="fas fa-arrow-right fa-sm"></i></a>
                    </div>
                  </div>
                <% } %>
              </div>

            </div>
          </div>
        <%}%>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>

</div>

<div class="flex flex-wrap event-footer">
  <div class="text-xl pr-4 footer">
    IITG Hostal Affairs Board
  </div>
  <div class="vl"></div>
  <div class="pl-4 text-sm pt-1 text-center copy">
    © 2021 @ students-web-commitee
  </div>
</div>
