<% layout('layouts/layout') %>
<%- include('../partials/gallery')  %>
<%- include('../partials/navbar') %>

  <!-- <div class="bg-gradient-to-b from-red-600 via-green-600 to-blue-800"> -->
<div  class="mt-4 bg-bottom bg-left bg-no-repeat bg-cover bgimage h-96 " style=" background-image: url('/stud/gymkhana/sports/public/images/background-img.png');">

<div class="club-header " style="margin-bottom: 2%">Clubs at IIT Guwahati</div>


<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2" style="width: 85%; margin: 2% auto; ">
    <%for(let i=0;i<data.length;i++){%>
     

      <div class="rounded overflow-hidden shadow-lg m-6" onclick="location.href='<%= process.env.BaseUrl %>/clubs/<%=data[i]._id%>/home'">
        <div class="flex-col" style="height: 100%">
          <div style="overfow: hidden; display: flex; height: 100%; object-fit:cover;">
            <img class="w-full" src="/stud/gymkhana/sports/<%=data[i].gallery[0]%>" style="object-fit:cover;">
          </div>
          <div class="px-6 py-4" style="background: #F97F51; border-radius: 0px 0px 5px 5px; color: #ffffff; position: relative; bottom: 4rem">
            <div style="width:100%;">
              <div style="float: right;"><i class="fas fa-arrow-right fa-sm"></i></div>
              <div class="font-bold text-2xl"><%=data[i].title%></div>
              
            </div>
          </div>
        </div>
      </div>

    <%}%>

</div>
</div>
</div>

<script>
  function myFunc(i){
    console.log(1);
    location.href=`<%= process.env.BaseUrl %>/clubs/data[${i}]._id/home`;
  }
</script>