<% layout('layouts/layout') %>
<%- include('../partials/gallery')  %>
<%- include('../partials/navbar') %>

<div class="flex flex-wrap mt-24 ml-20 mb-24">

  <div id="about" class="about">
    <div class="about-header mb-4">
      <h1>About Us</h1>
    </div>
    <p>
      <br>
      <%=club.desc%>
      <br>
      <!-- You are here for an overall development of your personality, so to keep you healthy and fit, we have all the facilities for sports, both indoor and outdoor.
      <br>
      <br>
      All outdoor sports like athletics, swimming, cricket, football, hockey, basketball, volleyball, etc. and indoor sports like table tennis, weight lifting, chess, carrom, squash, etc. are actively played by all throughout the year.
      <br>
      <br>
      We organize and promote all extra-curricular activities in the field of sports. It has currently twelve clubs: Athletics and Gymnastics Club, aquatics Club, Badminton Club, Basketball Club, Cricket Club, Football Club, Hockey Club, Lawn Tennis
      Club, Table Tennis Club, Squash Club, Volleyball Club and Weightlifting Club. The three main events conducted every year are Inter IIT Sports Meet, Spardha and Spirit. -->
    </p>
  </div>

  <div class="content flex flex-col">
    <div>CONTENTS</div>
    <a href="#about">About us</a>
    <a href="#whatwedo">What we do</a>
    <a href="#achievements">Achievements</a>
    <a href="#events"> Past events</a>
    <a href="#photos">Photos</a>

  </div>

</div>

<div class="what-we-do mt-24 ml-20 mb-12">

  <%if(club.info.length>0){%>
    <div id="whatwedo" class="about-header mb-4">
      <h1>What we do?</h1>
    </div>
    <div class="grid md:grid-cols-2  sm:grid-cols-1 gap-8">
      <%for(let i=0;i<club.info.length;i++){%>
        <div class="col-span-1 flex flex-col">
          <div class="pb-8">
            <%=club.info[i]%>
          </div>
          <div><hr></div>
        </div>
      <%}%>
    </div>
 <%}%>
    <div id="achievements" class="about-header mb-4">
      <h1>Achievements</h1>
    </div>
    <div class="grid md:grid-cols-2  sm:grid-cols-1 gap-8">
      <%for(let i=0;i<club.achievements.length;i++){%>
        <div class="col-span-1 flex flex-col">
          <div class="pb-8">
            <%=club.achievements[i]%>
          </div>
          <div><hr></div>
        </div>
      <%}%>
    </div>
    <div id="events" class="about-header mb-4">
      <h1>Past Events</h1>
    </div>
    <div class="grid md:grid-cols-2  sm:grid-cols-1 gap-8">
      <%for(let i=0;i<club.pe.length;i++){%>
        <div class="col-span-1 flex flex-col">
          <div class="pb-8">
            <%=club.pe[i]%>
          </div>
          <div><hr></div>
        </div>
      <%}%>
    </div>
    <%if(club.heads){
      for(let i=0;i<club.heads.length;i++){%>
        <div style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
          <div class="shadow-md rounded-md overflow-hidden">
            <img src="/<%=club.heads[i].image%>" style="width: 350px; height: 350px" alt="">
            <div class="p-4 head-text" style="width: 350px">
              <div class="grid grid-cols-3">
                <div class="col-span-2 text-left text-2xl"><%=club.heads[i].name%></div>
                <div class="col-span-1 text-right font-normal text-sm"><%=club.heads[i].position%></div>
              </div>
              <p class="mb-4 text-sm">
                Contact:<%=club.heads[i].contact%>
                WebMail:<%=club.heads[i].email%>
              </p>
            </div>
          </div>
        </div>
      <%}
    }%>
    <!-- <div onclick="location.href='https://www.youtube.com/';" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
      <div class="shadow-md rounded-md overflow-hidden">
        <img src="https://source.unsplash.com/random/1280x720" style="width: 350px; height: 350px" alt="">
        <div class="p-4 event-text" style="width: 350px">
          <div class="grid grid-cols-3">
            <div class="col-span-2 text-left  text-2xl">Tony Stark</div>
            <div class="col-span-1 text-right font-normal text-sm">Secretary</div>
          </div>
          <p class="mb-4 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi tenetur, voluptatibus</p>
        </div>
      </div>
    </div> -->
    <div id = "photos" class="col-span-1 about-header mb-2">
      Photos
    </div>
  </div>
</div>
<div class="grid md:grid-cols-3  sm:grid-cols-2 gap-4 ml-8 mr-8 pb-32">
  <%for(let i=0;i<club.gallery.length;i++){%>
    <div class="shadow-md rounded-md overflow-hidden mb-2">
      <img src="/<%=club.gallery[i]%>" style="width: 419px; height: 250px" alt="<%=club.gallery[i]%>">
    </div>
  <%}%>
</div>

