<% layout('layouts/boilerplate')%>

<div class="row">
    <a href="/alumni">Back to Alumni</a>
    <div class="col-6">
        <div class="mb-3 card">
            <img src="<%= alumni.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= alumni.name%></h5>
                <br>
                <p class="card-text">Experience: <%= alumni.experience %> </p>
                <p class="card-text">Achievements: <%= alumni.achievements %> </p>
            </div>
            
            <div class="card-body">
                <a class="card-link btn btn-info" href="/alumni/<%=alumni._id%>/edit">Edit</a>
                <form class="d-inline" action="/alumni/<%=alumni._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>      
        </div>
    </div>
</div>