<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>
<%- include('../spardha/spardhaNav') %>


<div class="flex flex-wrap mt-10 ml-20">
  <div class="about">
    <div class="about-header ">
      <h1>Spardha <%= data.Year %>  </h1>
    </div>
  </div> 
</div>
<div class="grid grid-cols-2 gap-4 p-20">
    <%for(let i=0;i<data.details.length;i++){%>
            <div class="flex flex-wrap col-span-1 pt-4 pb-10 ">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="http://localhost:3000/<%=data.Images[i]%>" style="width: 563.41px; height: 418.41px" alt="">
                    <div class="p-4 event-text" style="width: 563.41px">
                        <div class="grid grid-cols-3">
                            <div class="col-span-2 text-2xl text-left"><%=data.details[i].Clubname%></div>
                            <div class="col-span-1 text-sm font-normal text-right"><%=data.details[i].DateTime%></div>
                        </div>
                        <div class="grid grid-cols-1">
                            <div class="grid grid-cols-1 divide-y divide-white"><br>
                                <div class="grid grid-cols-3">
                                    <div class="col-span-2 text-sm text-left"><%=data.details[i].Description%></div>
                                    <div class="col-span-1 text-lg font-normal text-right mr-5">
                                        <a href="http://localhost:3000/<%=data.Scorecard%>"><i class="fas fa-arrow-right fa-sm"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <% } %>  
</div>