<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>

<div style="z-index: -1; position: absolute; width: 100%; aspect-ratio: 3 / 1;
  background: linear-gradient(180deg, #F97F51 -14.78%, rgba(247, 207, 222, 0) 399.89%), url(https://s3-alpha-sig.figma.com/img/6f8a/ae69/142e3bab06901c8511b747eece4d39c7?Expires=1632096000&Signature=eUaYrWyDcsMBDdzeNrPBO1bOsftPLepiWqh8-MzRgN-X4HktCFwXgRDiP6DdVP3AsGL3gsFE20jWGlMZoKeZT9AjTBq2FqXBHsqvrec4OQgLw-3jJmTFUKS9JLBjEOSl~DeQlXgJKHIur7geeGyvayWaBKm9pga42G6NE5FIrgP1TYGntenm0Fv8D4EgOq5k5EqdmNX3lg7Eyk8QvKkz2FknTkcqakCoRiqO9z9h7CvazNz5sGlJVKNScSi69-Iwfi-b6Lde5eU3Vs9CsmNFWcLmKQmTpPEJUQLrSo8iSKAw17T~Eca68ZDjZVusi1R29Cs2DsUDt8GSes2jSljhTQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
</div>
<div class="flex flex-wrap mt-20 ml-20">
  <div class="spardha" style=" color: white;">
    <div class="spardha-header font: Raleway">
      <h1>Spardha <%= data.Year %> </h1>
    </div>
  </div>
</div>
<div class="grid grid-cols-2 gap-6 " style="padding: 7%;">
    <%for(let i=0;i<data.details.length;i++){%>
            <div class="flex flex-wrap col-span-1 pt-4 pb-10 " style="aspect-ratio: 1 / 1;">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="/<%=data.Images[i]%>" style="width:100%; height:75%" alt="">
                    <div class="p-4 event-text" style="background-color: #F97F51; width:100%; height:25%">
                        <div class="sm:grid sm:grid-cols-1 md:grid md:grid-cols-3">
                            <div class="col-span-2 text-2xl text-left"><%=data.details[i].Clubname%></div>
                            <div class="col-span-1 text-sm font-normal text-right"><%=data.details[i].DateTime%></div>
                        </div>
                        <div class="grid-cols-1 md:grid">
                            <div class="grid-cols-1 divide-y divide-white md:grid"><br>
                                <div class="grid-cols-3 md:grid">
                                    <div class="col-span-2 text-sm text-left"><%=data.details[i].Description%></div>
                                    <div class="col-span-1 mr-5 text-lg font-normal text-right">
                                        <a href="http://localhost:3000/stud/gymkhana/sports/<%=data.Scorecard%>"><i class="fas fa-arrow-right fa-sm"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <% } %>  
</div>