<% layout('layouts/layout') %>
<%- include('../partials/gallery')  %> 
<%- include('../partials/navbar') %>
<%- include('../spardha/spardhaNav') %>

<% var c=0; %>
<%for(let i=0;i<data.length;i++){%>
  <% if(data[i].Status === "Running"){ %>
    <% c++; %>
  <% } %>
<% } %>
<!--No Running Event-->
<% if(c===0) {%>
  <div class="mt-12 mb-12 ml-20 what-we-do">
    <div class="grid-cols-2 gap-8 md:grid">
      <div class="col-span-1 mb-2 about-header">
        Photos
      </div>
    </div>
  </div>
  <div class="grid-cols-3 gap-6 pb-32 ml-8 mr-8 md:grid">
    <%for(let i=0;i<data.length;i++){%>
      <% if(data[i].Status == "Past Event"){ %>
        <%for(let j=0;j<data[i].Images.length;j++){%>
        <div class="mb-2 overflow-hidden rounded-md shadow-md">
          <img src="<%=data[i].Images[j]%>" style="aspect-ratio: 2/1.2;" alt="">
        </div>
        <% } %>
      <% } %>
    <%}%>
  </div>
<% } else{%>

  <div class="flex flex-col" style="padding:10px 6rem;">
      <div class="my-2 overflow-x-auto ">
        <div class="inline-block min-w-full align-middle ">
          <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-800">
                <tr>
                  <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-center text-gray-200 uppercase">
                    Club Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-center text-gray-200 uppercase">
                    Description
                  </th>
                  <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-center text-gray-200 uppercase">
                    Date / Time
                  </th>
                  <th scope="col" class="px-6 py-3 text-sm font-medium tracking-wider text-center text-gray-200 uppercase">
                    ScoreCard
                  </th>
                </tr>
              </thead>

              <tbody class="bg-white divide-y divide-gray-200">
                <%for(let i=0;i<data.length;i++){%>
                  <% if(data[i].Status === "Running"){ %>
                    <% for(let j=0; j<data[i].details.length; j++){ %>
                    <tr >
                      <td class="px-6 py-4 text-sm font-medium text-center text-gray-800 whitespace-nowrap">
                        <%=data[i].details[j].Clubname%>
                      </td>
                      <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap">
                        <%=data[i].details[j].Description%>
                      </td>
                      <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap">
                        <%=data[i].details[j].DateTime%>
                      </td>
                      <td class="px-6 py-4 text-sm text-center text-gray-500 whitespace-nowrap">
                        <div>
                          <a href=<%= process.env.BaseUrl %>/pdf/<%=data[i].details[j].Scorecard%>> <u>Scorecard</u></a>
                      </div>
                      </td>
                    </tr>
                    <% } %>
                    <% } %>
                <%}%>
              </tbody>
              <!---->
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-24 mb-12 ml-20 what-we-do">
    <div class="grid-cols-2 gap-8 md:grid">
      <div class="col-span-1 mb-2 about-header">
        Photos
      </div>
    </div>
  </div>
  <div class="grid-cols-3 gap-4 pb-32 ml-8 mr-8 md:grid">
    <%for(let i=0;i<data.length;i++){%>
      <% if(data[i].Status === "Running"){ %>
        <%for(let j=0;j<data[i].Images.length;j++){%>
        <div class="mb-2 overflow-hidden rounded-md shadow-md">
          <img src="<%=data[i].Images[j]%>" style="aspect-ratio: 2/1.2;" alt="">
        </div>
        <% } %>
      <% } %>
    <%}%>
  </div>
<% } %>
