<%- include("../partials/header.ejs") %> 
<main class="px-4 py-4">
  
    Year
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=spardha.Year%></div>
    Status
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=spardha.Status%></div>

    <div class="mt-6">
        <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="<%= process.env.BaseUrl %>/admin/spardha/<%=spardha._id%>/add/event">Add Event Details</a>
    </div>
    <div class="w-auto mt-6 mb-10 overflow-auto">
        <div class="bg-white">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Clubname</th>
                        <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Description</th>
                        <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Date / Time</th>
                        <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Edit</th>
                        <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Delete</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700" id="myMenu">
                    <%for(let i=0;i<spardha.details.length;i++){%>
                        <tr>
                            <td class="text-left py-3 px-4"><%=spardha.details[i].Clubname%></td>
                            <td class="text-left py-3 px-4"><%=spardha.details[i].Description%></td>
                            <td class="text-left py-3 px-4"><%=spardha.details[i].DateTime%></td>
                            <td class="w-1/3 text-left py-3 px-4"><a href="<%= process.env.BaseUrl %>/admin/spardha/<%=spardha._id%>/edit/event/<%=i%>">Edit</a></td>
                            <td class="w-1/3 text-left py-3 px-4"><a href="<%= process.env.BaseUrl %>/admin/spardha/<%=spardha._id%>/delete/event/<%=i%>">Delete</a></td>
                        </tr>
                    <%}%>    
                </tbody>
            </table>
        </div>
    </div>

    <!-- Uploading images and pdf  -->
    <div class="leading-loose">
        <form class="p-10 bg-white rounded shadow-xl" action="<%= process.env.BaseUrl %>/admin/spardha/imgpdf" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%=spardha._id%>">
            <div class="mt-2">
                <label class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" for="image">Gallery</label>
                <div class="gallery shadow-sm">
                    <%if(spardha.Images.length>0){%>
                        Present Gallery
                        <%for(let i=0;i<spardha.Images.length;i++){%>
                            <div class="mb-5 imgwrap shadow-sm">
                                <img src="<%= process.env.BaseUrl %>/<%=spardha.Images[i]%>" width="200px" height="200px" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                                <a href="<%= process.env.BaseUrl %>/admin/spardha/<%=spardha._id%>/delimg/<%=i%>/">X</a>
                            </div>
                        <%}%>
                    <%}%>    
                </div>
                <label class="block text-sm text-gray-600" for="pdf"> You can add Images</label>
                <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="Images" type="file"
                    name="images" multiple >
            </div>

            <div class="mt-5">
                <label class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" for="pdf">Score card</label>
                <%if(spardha.Scorecard){%>
                    <div class="mb-5">
                        Present Score card:
                        <a class="px-4 py-1 text-black font-light tracking-wider bg-blue-400 rounded" href="<%= process.env.BaseUrl %>/pdf/<%=spardha.Scorecard%>" target="_blank">
                        Score card</a>
                    </div>
                <%}%>
                <label class="block text-sm text-gray-600" for="pdf"> You can add Score card</label>
                
                <input class="w-full px-5 py-4 text-gray-700 bg-gray-200 rounded" id="scoreCard" type="file"
                    name="pdf" >
            </div>

            
            <button type="submit" class="mt-5 px-4 py-1 font-light tracking-wider text-white bg-gray-900 rounded">Update</button>
        </form>
    </div>
</main>
<%- include("../partials/footer.ejs") %> 