<%- include("../partials/header.ejs") %> 
<main class="px-4 py-4">
  
    <div class="imgwrap shadow-sm">
        <img src="<%=team.image%>" style="width: 400px; height: 350px" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
    Name
    <div class="w-full px-5 m-2 py-4 text-gray-700 bg-gray-200 rounded"><h1><%=team.name%></h1></div>
    Email ID
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=team.email%></div>
    Position
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=team.position%></div>
    Hostel
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=team.hostel%></div>
    Contact No. 
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=team.contact1%></div>
    Contact No. (optional)
    <div class="w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=team.contact2%></div>

</main>
<%- include("../partials/footer.ejs") %> 