<% layout('layouts/layout') %>
<%- include('../partials/carousel')  %>
<%- include('../partials/navbar') %>

<div style="z-index: -1; position: absolute; width: 100%; aspect-ratio: 3.5 / 1;
  background: linear-gradient(180deg, #F97F51 -14.78%, rgba(247, 207, 222, 0) 399.89%);">
</div>

<div class="flex flex-wrap mt-20 ml-20">

    <div class="about">
      <div class="about-header  font-Raleway " style="color: white;">
        <h1>Alumni</h1>
      </div>
    </div>
</div>

<!-- <div class="grid grid-cols-3 gap-8 p-10"> -->


                <div class="grid grid-cols-2 gap-4 p-4  md:grid md:grid-cols-2 md:gap-12 md:p-6 lg:grid lg:grid-cols-3 lg:gap-8 lg:pt-20 lg:pb-4">
    <%for(let i=0;i<data.length;i++){%>
        <div onclick="toggleModal('description-modal-<%= data[i]._id %>')" style="cursor: pointer;" class=" col-span-1 mb-4 flex flex-wrap pb-10 pt-4">
            <div class="shadow-md rounded-md overflow-hidden">
                <img src=<%= data[i].image %> style="width: 100%; height:64.9%" alt="">
                <div class="p-2 alumni-text" style="width:100%; height:35%">
                    <!-- <div class="grid grid-cols-3"> -->
                    <div class="grid grid-cols-1">
                      <div class="col-span-1 border-b-2 border-white">
                        <div class="col-span-1 text-left text-xs mb-2 md:text-xl lg:text-2xl "><%= data[i].name %> </div>
                        </div>
                        <!--<div class="col-span-1 text-right font-normal text-lg">Dean</div>-->
                    </div>
                    <div class="grid grid-cols-1">
                        <!-- <div class="grid grid-cols-1 divide-y divide-white"><br> -->
                            <div class="grid grid-cols-3">

                                <div class="col-span-1 text-left font-normal mt-2  text-xs md:text-lg lg:text-lg"><%= data[i].email %></div>
                                <div class="col-span-2 text-right font-normal mt-2 text-xs md:text-lg lg:text-lg">+91 <%=data[i].contact%></div>

                            </div>

                    </div>

                    <!-- <p class="sm:mb-6 text-xs md:mb-2 md:text-lg lg:mb-2 lg:text-lg"><%= data[i].experience %></p> -->
                </div>
            </div>
        </div>



        <!--Modal-->
        <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
            id="description-modal-<%= data[i]._id %>">
            <div class="relative w-auto my-6 mx-auto max-w-6xl">
                <!--content-->
                <div class="grid grid-cols-2 border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                    <!--image-->
                    <div class="p-10 overflow-hidden">
                        <img src=<%= data[i].image %>  style="height: 350px; width: auto;"  alt="">
                        <div class="p-4" >
                            <div class="grid grid-cols-3">
                                <div class="col-span-2 text-left text-2xl"><%= data[i].name %>  </div>
                                <!--<div class="col-span-1 text-right font-normal text-lg">Dean</div>-->
                            </div>
                            <div class="grid grid-cols-1">
                                <div class="grid grid-cols-1 divide-y divide-black"><br>
                                    <div class="grid grid-cols-3">
                                        <div class="col-span-1 text-left font-normal text-md"><%= data[i].email %> </div>
                                        <div class="col-span-2 text-right font-normal text-md">+91 <%= data[i].contact %> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--body-->
                    <div class="relative p-6 flex-auto">
                        <div class="flex items-start justify-between border-b border-solid border-gray-200 rounded-t">
                            <button class="pb-1 ml-auto bg-transparent border-0 text-gray-500 float-right text-l leading-none font-semibold outline-none focus:outline-none"
                                onclick="toggleModal('description-modal-<%= data[i]._id %>')">
                                <span > <i class="fas fa-times"></i> </span>
                            </button>
                        </div>
                        <h1 class="my-4 text-gray-700 text-xl font-semibold">Experience</h1>
                        <p class="my-4 text-gray-500 text-md ">
                            <%= data[i].experience %>
                        </p>
                        <h1 class="my-4 mt-10 text-gray-700 text-xl font-semibold">Achievements</h1>
                        <% for(let j=0; j<data[i].achievements.length; j++){ %>
                        <p class="my-4 text-gray-500 text-md ">
                            <%= j+1 %>. <%= data[i].achievements[j] %> <br>
                        </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="description-modal-<%= data[i]._id %>-backdrop"></div>
        <script type="text/javascript">
        function toggleModal(modalID) {
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
        </script>
    <% } %>
    </div>
</div>
