<%- include("../partials/header.ejs") %>
<main class="w-full flex-grow p-6">
  <div class="imgwrap shadow-sm">
        <img src="<%= process.env.BaseUrl %>/<%=data.image%>" style="width: 400px; height: 350px" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
  <div class="mt-20">
    <div class="px-4 py-3 text-white font-light tracking-wider bg-gray-900 rounded" style="display: inline-block;">Name</div>
  </div>
  <div class="title w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><h1><%=data.name%></h1></div>
  <div class="mt-20">
    <div class="px-4 py-3 text-white font-light tracking-wider bg-gray-900 rounded" style="display: inline-block;">Description</div>
  </div>
  <div class="desc w-full px-5 m-2  py-4 text-gray-700 bg-gray-200 rounded"><%=data.desc%></div>

  <div class="mt-5">
  <%if(data.score){%>
    <label class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" for="pdf">Pdf</label>
    
        <div class="mb-5">
            <a class="px-4 py-1 text-black font-light tracking-wider bg-blue-400 rounded" href="<%= process.env.BaseUrl %>/pdf/<%=data.score%>" target="_blank">
            Score card</a>
        </div>
    <%}%>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
